@import url('../styles/reset.scss');
.scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.06);
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
    }
    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    }
}
.popup-box {
    padding: 0px 10px;
    overflow: auto;
    height: 100%;
    transition: all 0.5s;
    background-size: 100% 100%;
    & .card-box {
        margin: 10px 0px;
        background: rgba(255 255 255 / 58%);
        // box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 15px 2px !important;
    }
    & .show-icon {
        position: fixed;
        left: 0px;
        top: 50%;
        font-size: 20px;
        color: #0090f5;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
.title-box {
    position: fixed;
    height: 47px;
    background: #fbfbfb;
    width: 91%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rule-input {
    margin-top: 52px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px 2px !important;
    & .semi-input-default {
        background: white !important;
    }
}
.empty-wrapper {
    position: relative;
    top: 20%;
}
.semi-tabs-pane {
    overflow: auto;
}
.semi-tabs-bar {
    margin: 10px 0px;
}

.semi-input-wrapper {
    border: 1px solid #d9d9d9;
    color: black;
}
.semi-input-default {
    background: #f4f5f5 !important;
}
.semi-input-append {
    background: #f4f5f5;
}
.semi-input-prepend {
    background: #f4f5f5;
}
.box-small {
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
    user-select: none;
}
