.action-bar {
    display: grid;
    margin-bottom: 12px;
    grid-template-columns: 80px repeat(auto-fill,minmax(16px,auto));
    grid-auto-flow: 45px;
    column-gap: 8px;
    justify-items: left;
    align-items: center;
}
