.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
    box-shadow: rgb(0 0 0 / 12%) 0px 0px 15px 2px !important;
}
.button.type3 {
    color: #435a6b;
}
.button.type3.type3::after,
.button.type3.type3::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}
.button.type3.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
}
.button.type3.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
}
.button.type3.type3:hover:after,
.button.type3.type3:hover:before {
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
    width: 100%;
    height: 100%;
}
